<div class="container">
  <div>
    <h1>Business Time</h1>
    <h3>Get your business socks on, it's business time</h3>
    
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="email please">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Business Time - Oh yeah">
    </form>
    <a href="/signup">Don't have an account, bro?? Get your business socks here!</a>
  </div>
</div>
