<div class="container">
  
  <h1>Create a Business Account</h1>

  <div class='form'>
    <form action="/create_user" method="post">
      <input type="text" name="user[first_name]" placeholder="Please enter your first name"><br>
      <input type="text" name="user[last_name]" placeholder="PLease enter your last name"><br>
      <input type="text" name="user[email]" placeholder="Please enter your business email"><br>
      <input type="password" name="user[password]" placeholder="Please create a password"><br>
      <input type="password" name="user[password_confirmation]" placeholder="Please reenter your password"><br>
      <input type="submit" value="It's Business Time!">
    </form>
  </div>
  <a href="/">Back to Login</a>
</div>
